*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
::selection{
    background-color: #B2DFDB;
    color: #212121;
}
.wrap{
    width: 100%;
    height: 100vh;
    padding: 40px;
}