* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

::-moz-selection {
  background-color: #B2DFDB;
  color: #212121;
}

::selection {
  background-color: #B2DFDB;
  color: #212121;
}

::-webkit-scrollbar {
  height: 12px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.wrap {
  width: 100%;
  height: 100vh;
  padding: 40px;
  color: #212121;
  padding-top: 30px;
  position: relative;
}
.wrap .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.wrap .header .logo {
  font-size: 36px;
  font-weight: 700;
}
.wrap .header .nav {
  width: 450px;
  font-size: 20px;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
}
.wrap .header .nav .active_nav {
  font-weight: 600;
}
.wrap .header .nav .nav_link {
  cursor: pointer;
}
.wrap .header .nav .nav_link:hover {
  color: #00796b;
}
.wrap .header .burger {
  display: none;
}
.wrap .header #adminsettings {
  font-size: 24px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.wrap .header #adminsettings:hover {
  color: #00796b;
}
.wrap .burgerPopup_con {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(33, 33, 33, 0.2);
}
.wrap .burgerPopup_con .burgerPopup {
  width: 80%;
  height: 250px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 2px 2px 5px #555;
  padding: 20px;
  position: relative;
}
.wrap .burgerPopup_con .burgerPopup .active_nav {
  font-weight: 600;
}
.wrap .burgerPopup_con .burgerPopup .nav_link {
  font-size: 22px;
  margin-bottom: 8px;
}
.wrap .burgerPopup_con .burgerPopup #burgerXmark {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: #212121;
  cursor: pointer;
}
.wrap .homework {
  flex-direction: column;
}
.wrap .homework .daysContainer {
  display: flex;
  justify-content: flex-start;
  margin-top: 25px;
  overflow-x: auto;
  white-space: nowrap;
  overflow-y: hidden;
  height: 330px;
}
.wrap .homework .daysContainer .day {
  width: 340px;
  height: 300px;
  background-color: #00796b;
  border-radius: 16px;
  padding: 15px;
  margin-right: 30px;
  flex-shrink: 0;
  margin-bottom: 30px;
}
.wrap .homework .daysContainer .day .dayTopInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
  align-items: flex-end;
  margin-bottom: 10px;
}
.wrap .homework .daysContainer .day .dayTopInfo h2 {
  font-size: 24px;
  font-weight: 700;
}
.wrap .homework .daysContainer .day .dayTopInfo .date {
  font-size: 16px;
  font-weight: 300;
}
.wrap .homework .daysContainer .day .string {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}
.wrap .homework .daysContainer .day .string .subject {
  width: 35%;
  color: #fff;
  font-size: 16px;
  font-weight: 200;
  background-color: #00796b;
  border: none;
  outline: none;
}
.wrap .homework .daysContainer .day .string .homework {
  width: 65%;
  background-color: #00796b;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 500;
}
.wrap .homework .daysContainer .day .string .homework::-moz-placeholder {
  color: #b2dfdb;
}
.wrap .homework .daysContainer .day .string .homework::placeholder {
  color: #b2dfdb;
}
.wrap .homework .setChanges_btn {
  width: 320px;
  height: 70px;
  background-color: #009688;
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  margin-top: 40px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.wrap .homework .setChanges_btn:hover {
  background-color: #B2DFDB;
  color: #212121;
}
.wrap .homework .setChanges_btn:active {
  background-color: #212121;
  color: #fff;
}
.wrap .events {
  flex-direction: column;
  padding-top: 25px;
}
.wrap .events .eventNameAndDetails {
  width: 620px;
  display: flex;
  justify-content: space-between;
}
.wrap .events .eventNameAndDetails #eventName {
  width: 300px;
  height: 45px;
  border-radius: 10px;
  padding: 15px;
  font-size: 18px;
  font-weight: 600;
  border: 1px #212121 solid;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.wrap .events .eventNameAndDetails #eventDate {
  height: 45px;
  font-size: 16px;
  padding: 10px;
  border: 1px #212121 solid;
  border-radius: 10px;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px;
  transition: border-color 0.3s, box-shadow 0.3s;
}
.wrap .events .eventNameAndDetails #eventDate:focus {
  border-color: #555;
  box-shadow: 0 0 5px #888;
}
.wrap .events #evenDetails {
  width: 620px;
  height: 200px;
  border-radius: 10px;
  padding: 15px;
  font-size: 18px;
  font-weight: 600;
  border: 1px #212121 solid;
  resize: none;
  margin-top: 20px;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.wrap .events .eventBtn {
  width: 280px;
  height: 70px;
  background-color: #009688;
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  margin-top: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.wrap .events .eventBtn:hover {
  background-color: #B2DFDB;
  color: #212121;
}
.wrap .events .eventBtn:active {
  background-color: #212121;
  color: #fff;
}
.wrap .distribution {
  width: 100%;
  height: 96%;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
}
.wrap .distribution #distribution_textarea {
  width: 100%;
  height: 200px;
  resize: none;
  border: 1px #212121 solid;
  border-radius: 16px;
  padding: 16px;
  font-size: 24px;
  font-weight: 500;
}
.wrap .distribution .sendDistribution_btn {
  width: 200px;
  height: 70px;
  background-color: #009688;
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  margin-top: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.wrap .distribution .sendDistribution_btn:hover {
  background-color: #B2DFDB;
  color: #212121;
}
.wrap .distribution .sendDistribution_btn:active {
  background-color: #212121;
  color: #fff;
}
.wrap .notes {
  width: 100%;
  display: none;
  flex-direction: column;
}
.wrap .notes .notesContainer {
  width: 100%;
}
.wrap .notes .notesContainer .note {
  width: 100%;
  padding: 20px;
  border-radius: 16px;
  background-color: #00796b;
  color: #f1f1f1;
  margin-bottom: 30px;
}
.wrap .notes .notesContainer .note .notesImgsContainer {
  max-height: 300px;
  width: 100%;
  display: flex;
  overflow-x: auto;
}
.wrap .notes .notesContainer .note .noteImg {
  max-width: 300px;
  max-height: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.wrap .notes .notesContainer .note .noteName {
  font-size: 24px;
  font-weight: 600;
  margin-top: 15px;
}
.wrap .notes .notesContainer .note .noteDescription {
  font-size: 16px;
  font-weight: 300;
  margin-top: 5px;
}
.wrap .notes .notesContainer .note .noteDate {
  font-size: 16px;
  font-weight: 300;
  margin-top: 5px;
}
.wrap .notes .notesContainer .note .noteDateNum {
  font-weight: 600;
}
.wrap .notes .notesContainer .note .deleteNoteBtn {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color: #f1f1f1;
  cursor: pointer;
  color: #212121;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  outline: none;
  margin-top: 15px;
  transition: all 0.5s ease;
}
.wrap .notes .notesContainer .note .deleteNoteBtn i {
  margin-right: 7px;
}
.wrap .notes .notesContainer .note .deleteNoteBtn:hover {
  background-color: #212121;
  color: #f1f1f1;
}

.settingsCon {
  width: 100%;
  height: 100vh;
  background-color: rgba(33, 33, 33, 0.2);
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}
.settingsCon .sesttingPopup {
  width: 400px;
  height: 220px;
  background-color: #fff;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  position: relative;
}
.settingsCon .sesttingPopup #settingsXmark {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}/*# sourceMappingURL=admin.css.map */