*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
::selection{
    background-color: #B2DFDB;
    color: #212121;
}
::-webkit-scrollbar {
    height: 12px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.wrap {
    width: 100%;
    height: 100vh;
    padding: 40px;
    color: #212121;
    padding-top: 30px;
    .header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
  
      .logo {
        font-size: 36px;
        font-weight: 700;
      }
  
      .nav {
        width: 350px;
        font-size: 20px;
        font-weight: 300;
        display: flex;
        justify-content: space-between;
  
        .active_nav {
          font-weight: 600;
        }
  
        .nav_link {
          cursor: pointer;
        }
  
        .nav_link:hover {
          color: #00796b;
        }
      }
  
      #adminsettings {
        font-size: 24px;
        cursor: pointer;
        transition: 0.4s ease-in-out;
      }
  
      #adminsettings:hover {
        color: #00796b;
      }
    }
    .homework{
      flex-direction: column;
      .daysContainer {
        display: flex;
        justify-content: flex-start;
        margin-top: 25px;
        overflow-x: auto;
        white-space: nowrap;
        overflow-y: hidden;
        height: 330px;
        .day {
          width: 340px;
          height: 300px;
          background-color: #00796b;
          border-radius: 16px;
          padding: 15px;
          margin-right: 30px; 
          flex-shrink: 0; 
          margin-bottom: 30px;
    
          .dayTopInfo {
            width: 100%;
            display: flex;
            justify-content: space-between;
            color: #fff;
            align-items: flex-end;
            margin-bottom: 10px;
    
            h2 {
              font-size: 24px;
              font-weight: 700;
            }
    
            .date {
              font-size: 16px;
              font-weight: 300;
            }
          }
    
          .string {
            width: 100%;
            display: flex;
            margin-bottom: 10px;
    
            .subject {
              width: 35%;
              color: #fff;
              font-size: 16px;
              font-weight: 200;
              background-color: #00796b;
              border: none;
              outline: none;
            }
    
            .homework {
              width: 65%;
              background-color: #00796b;
              border: none;
              outline: none;
              color: #fff;
              font-weight: 500;
    
              &::placeholder {
                color: #b2dfdb;
              }
            }
          }
        }
      }
      .setChanges_btn{
          width: 280px;
          height: 70px;
          background-color: #009688;
          color: #fff;
          font-size: 36px;
          font-weight: 600;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 16px;
          transition: 0.4s ease-in-out;
          cursor: pointer;
          margin-top: 40px;
          user-select: none;
      }
      .setChanges_btn:hover{
          background-color: #B2DFDB;
          color: #212121;
      }
      .setChanges_btn:active{
          background-color: #212121;
          color: #fff;
      }
    }

  }
  